body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.topNav{
    overflow: hidden;
    background-color: black;  
}

.topNav a{
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-align: none;
    font-size: 17px;
}

.topNavRight{
    float: right;
}

.topNav a:hover{
    background-color: azure;
    color: #20262c;
}

.topNav a.active {
    background-color: #014b91;
    color: white;
}

header img {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    color: #014b91;
    text-align: justify;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 23px;
    color: #20262c;
}

.text{
    padding-left: 2em;
    padding-right: 2em;
}

.imgTextOverlay {
    position: relative;
    text-align: center;
    color: #ffffff;
}

.imgTextOverlay img{
    width: 100%;
    filter: blur(4px);
    /*filter: grayscale(100%);*/
}

.bottomLeft{
    position: absolute;
    bottom: 8px;
    left: 16px;
}

.topLeft{
    position: absolute;
    top: 8px;
    left: 16px;
}

.topRight{
    position: absolute;
    top: 8px;
    right: 16px;
}

.bottomRight{
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#filters{
    /*filter: grayscale(100%);*/
    /*filter: sepia(100%);*/
    filter: blur(4px);
}

.container{
    position: relative;
    width: 50%;
}

.image{
    display: block;
    width: 100%;
    height: auto;
}

.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease-in;
    background-color: #014b91;
}

.container:hover .overlay{
    opacity: 1;
}

.overlayText{
    color: #ffffff;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}